#root {
  max-width: 1280px;
  margin: 0 ;
  padding: 0;
  text-align: center;
}

body{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
}
.container{
  width:20vw;
  height:40vh;
  background-color:#020202 ;
  display:flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding: 10px;
 box-shadow :2px 2px 5px #3d3c3c;
}
.output{
 
  background-color:hsl(11, 73%, 53%)  ;
  box-shadow :2px 2px 5px #FF5733;
  margin-bottom: 15px;
  padding-left:50px;
  padding-right: 50px;
}
button{
  padding: 10px;
  background-color:hsl(234, 51%, 49%) ;
  border:none;
  box-shadow:2px 2px 5px #3c4a5f;
  margin-left:10px;
  transition: scale 5s linear;
  -webkit-transition: scale 5s linear;
  -moz-transition: scale 5s linear;
  -ms-transition: scale 5s linear;
  -o-transition: scale 5s linear;
}
button:hover{
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
}
